<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">
 
    <title>Educación a tu nivel</title>
 
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
 
</head>
 
<body ng-controller="VerHorariosCtrl">
    <div class="container">
        <div class="page-header">
            <h1>Horarios</h1>
        </div>
        <!-- Panel Lunes -->
        <div class="panel panel-primary" ng-if="arrayLunes.length>0">
            <div class="panel-heading">
                <h3 class="panel-title">Lunes</h3>
            </div>
            <div class="panel-body">
                <!--Contenido aquí-->
                <div class="list-group" ng-repeat="horario in arrayLunes">
                    <a href="#" onclick="return false;" class="list-group-item active">
                        <h4 class="list-group-item-heading">{{horario.materia}}</h4>
                        <p class="list-group-item-text">{{horario.horaDesde}} - {{horario.horaHasta}}</p>
                        <p class="list-group-item-text">{{horario.profesor}}</p>
                        <span class="pull-right">
                            <button class="btn btn-xs btn-info" ng-click="editarhorario(horario.$id)" data-target="#editModal">EDITAR</button>
                            <button class="btn btn-xs btn-warning" ng-click="confirmarBorrado(horario.$id)" data-target="#deleteModal">BORRAR</button>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!-- Fin Panel Lunes -->

        <!-- Panel Martes -->
        <div class="panel panel-primary" ng-if="arrayMartes.length>0">
            <div class="panel-heading">
                <h3 class="panel-title">Martes</h3>
            </div>
            <div class="panel-body">
                <!--Contenido aquí-->
                <div class="list-group" ng-repeat="horario in arrayMartes">
                    <a href="#" onclick="return false;" class="list-group-item active">
                        <h4 class="list-group-item-heading">{{horario.materia}}</h4>
                        <p class="list-group-item-text">{{horario.horaDesde}} - {{horario.horaHasta}}</p>
                        <p class="list-group-item-text">{{horario.profesor}}</p>
                        <span class="pull-right">
                            <button class="btn btn-xs btn-info" ng-click="editarhorario(horario.$id)" data-target="#editModal">EDITAR</button>
                            <button class="btn btn-xs btn-warning" ng-click="confirmarBorrado(horario.$id)" data-target="#deleteModal">BORRAR</button>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!-- Fin Panel Martes -->

        <!-- Panel Miercoles -->
        <div class="panel panel-primary" ng-if="arrayMiercoles.length>0">
            <div class="panel-heading">
                <h3 class="panel-title">Miercoles</h3>
            </div>
            <div class="panel-body">
                <!--Contenido aquí-->
                <div class="list-group" ng-repeat="horario in arrayMiercoles">
                    <a href="#" onclick="return false;" class="list-group-item active">
                        <h4 class="list-group-item-heading">{{horario.materia}}</h4>
                        <p class="list-group-item-text">{{horario.horaDesde}} - {{horario.horaHasta}}</p>
                        <p class="list-group-item-text">{{horario.profesor}}</p>
                        <span class="pull-right">
                            <button class="btn btn-xs btn-info" ng-click="editarhorario(horario.$id)" data-target="#editModal">EDITAR</button>
                            <button class="btn btn-xs btn-warning" ng-click="confirmarBorrado(horario.$id)" data-target="#deleteModal">BORRAR</button>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!-- Fin Panel Miercoles -->

        <!-- Panel Jueves -->
        <div class="panel panel-primary" ng-if="arrayJueves.length>0">
            <div class="panel-heading">
                <h3 class="panel-title">Jueves</h3>
            </div>
            <div class="panel-body">
                <!--Contenido aquí-->
                <div class="list-group" ng-repeat="horario in arrayJueves">
                    <a href="#" onclick="return false;" class="list-group-item active">
                        <h4 class="list-group-item-heading">{{horario.materia}}</h4>
                        <p class="list-group-item-text">{{horario.horaDesde}} - {{horario.horaHasta}}</p>
                        <p class="list-group-item-text">{{horario.profesor}}</p>
                        <span class="pull-right">
                            <button class="btn btn-xs btn-info" ng-click="editarhorario(horario.$id)" data-target="#editModal">EDITAR</button>
                            <button class="btn btn-xs btn-warning" ng-click="confirmarBorrado(horario.$id)" data-target="#deleteModal">BORRAR</button>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!-- Fin Panel Jueves -->

        <!-- Panel Viernes -->
        <div class="panel panel-primary" ng-if="arrayViernes.length>0">
            <div class="panel-heading">
                <h3 class="panel-title">Viernes</h3>
            </div>
            <div class="panel-body">
                <!--Contenido aquí-->
                <div class="list-group" ng-repeat="horario in arrayViernes">
                    <a href="#" onclick="return false;" class="list-group-item active">
                        <h4 class="list-group-item-heading">{{horario.materia}}</h4>
                        <p class="list-group-item-text">{{horario.horaDesde}} - {{horario.horaHasta}}</p>
                        <p class="list-group-item-text">{{horario.profesor}}</p>
                        <span class="pull-right">
                            <button class="btn btn-xs btn-info" ng-click="editarhorario(horario.$id)" data-target="#editModal">EDITAR</button>
                            <button class="btn btn-xs btn-warning" ng-click="confirmarBorrado(horario.$id)" data-target="#deleteModal">BORRAR</button>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!-- Fin Panel Viernes -->
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted"></p>
        </div>
    </footer>
 
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
                    </button>
                    <h4 class="modal-title" id="editModalLabel">Editar Profesor</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Titulo:</label>
                            <input type="text" class="form-control" id="recipient-name" ng-model="profesorUpdate.nombre">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Descripción:</label>
                            <textarea class="form-control" id="message-text" ng-model="profesorUpdate.apellido"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" ng-click="update()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="text-align:center;">
                    <h4 class="modal-title" style="color:red;" id="deleteModalLabel">Está a punto de eliminar un profesor !! Está seguro?</h4>
                </div>
     
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click="borrarProfesor()">Si</button>
                </div>
            </div>
        </div>
    </div> 
</body>
 
</html>